@function vw($px) {
  @return ($px / 375) * 50vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  margin-bottom: vw(100);
}

// 公共底部导航
.QllnW {
  position: fixed;
  bottom: 0;
  left: 0;
  width: vw(750);
  height: vw(100);
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  z-index: 100;

  .izStSE {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    .fSJdS {
      // flex: 1;
      padding-top: vw(10);
      width: 25%;
      font-size: vw(12);
      text-align: center;
      color: #333;

      svg {
        width: 2em;
        height: 2em;
      }

      i {
        font-size: vw(20)
      }
    }
  }
}

// 公共头部
.head_top {
  background: #fff;
  text-align: center;
  height: vw(88);
  z-index: 199;
  width: 100%;
  overflow: inherit;
  border-bottom: 1px solid #ebebeb;
  font-family: PingFang-SC-Regular, Helvetica Neue, Helvetica, Droid Sans Fallback, microsoft yahei, sans-serif;

  .fixtop {
    z-index: 999;
    height: vw(88);
    width: 100%;
    position: absolute;

    .t-find-t-o {
      float: left;
      display: block;
      position: absolute;
      left: vw(24);
      top: vw(24);
      z-index: 9999;

      .iconfont {
        font-size: vw(42);
      }
    }

    .t-find-t-k {
      float: left;
      display: block;
      position: absolute;
      left: vw(24);
      top: vw(7);
      z-index: 9999;

      .iconfont {
        font-size: vw(42);
      }
    }

    .t-index {
      font-size: vw(36);
      line-height: vw(88);
      height: vw(88);
      cursor: default;
      width: 100%;
      box-sizing: border-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 vw(72);
      display: block;
      color: #333;
      text-align: center;
      position: absolute;
    }

    .keywords {
      position: absolute;
      right: vw(100);
      top: vw(15);
      color: #666;

      .iconfont {
        font-size: vw(48);
      }
    }

    .menu-more {
      width: vw(60);
      position: absolute;
      right: vw(24);
      top: vw(10);

      .iconfont {
        font-size: vw(60);
      }
    }

    .menu-more-lj {
      width: vw(60);
      position: absolute;
      right: vw(24);
      top: vw(20);

      .iconfont {
        font-size: vw(60);
      }
    }
  }
}

// 首页样式
.jVdqXb {
  width: vw(750);
  height: vw(88);
  padding: 0 vw(28);
  padding-right: 0;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;

  .jTpZiT {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;

    .cDNDuJ {
      position: relative;
      flex: 1;
      height: vw(56);
      background-color: #f2f2f2;
      border-radius: vw(10);
      display: flex;
      align-items: center;
      // font-size: 0.512rem;
      color: #666;

      .search-icon {
        width: vw(30);
        height: vw(30);
        margin: 0 vw(10);
      }

      .search-img {
        // height: vw(30);
        margin: 0 vw(10);

        img {
          height: vw(30);
        }
      }
    }
  }

  .jktfkc {
    width: vw(88);
    height: vw(88);

    img {
      width: vw(88);
      height: vw(88);
    }
  }
}

.ant-carousel img {
  width: vw(750);
  height: vw(290);
}

.bt-gw {
  font-size: vw(32) !important;
}

.idVxVO {
  overflow: hidden;
  margin-top: 0rem;
  height: vw(167);
  width: vw(750);

  .qykHL {
    margin: 0 -1px 0 0;
    font-size: 0;
    display: inline-block;
    float: left;
    width: vw(187.5);
    height: vw(167.3);

    .eqWGtT {
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      float: left;
    }

  }
}

.idVxVO .qykHL:nth-of-type(1) a {
  width: 100%;
  height: 100%;
  background-image: url("https://goods4.juancdn.com/jas/181119/7/6/5bf2524bb6f8ea534d206f83_270x241.png?imageMogr2/quality/85!/format/png")
}

.idVxVO .qykHL:nth-of-type(2) a {
  width: 100%;
  height: 100%;
  background-image: url("https://goods8.juancdn.com/jas/181228/f/e/5c25bd0d33b08962a220f3a6_270x241.png?imageMogr2/quality/85!/format/png")
}

.idVxVO .qykHL:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  background-image: url("https://goods2.juancdn.com/jas/180201/3/d/5a727415a9fcf8280d24465a_270x241.png?imageMogr2/quality/85!/format/png")
}

.idVxVO .qykHL:nth-of-type(4) a {
  width: 100%;
  height: 100%;
  background-image: url("https://goods1.juancdn.com/jas/200102/0/6/5e0da4d133b0896151108b99_270x242.png?iopcmd=convert&Q=85&dst=png")
}

.idVxVOs {
  overflow: hidden;
  margin-top: 0rem;
  height: vw(208);
  width: vw(750);

  .qykHLs {
    margin: 0 -1px 0 0;
    font-size: 0;
    display: inline-block;
    float: left;
    height: vw(208);
    width: vw(750);

    .eqWGtTs {
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      float: left;
      width: 100%;
      height: 100%;
      background-image: url("https://s2.juancdn.com/jas/200102/c/6/5e0d9199b6f8ea268932b3f1_1080x300.gif");
    }
  }
}

.idVxVOa {
  overflow: hidden;
  margin-top: 0rem;
  height: vw(455);
  width: vw(750);

  .qykHLa {
    margin: 0 -1px 0 0;
    font-size: 0;
    display: inline-block;
    float: left;
    width: vw(375);
    height: vw(455);

    .eqWGtTa {
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      float: left;
      width: 100%;
      height: 100%;
      background-image: url("https://s2.juancdn.com/jas/200103/3/b/5e0f0a2633b0895cb56fb102_540x656.gif");
    }
  }
}

.qykHLb {
  margin: 0 -1px 0 0;
  font-size: 0;
  display: inline-block;
  float: left;
  width: vw(375);
  height: vw(455);

  .eqWGtTb:nth-of-type(1) {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 50%;
    background-image: url("https://goods7.juancdn.com/jas/200103/c/6/5e0f0a7133b08946220bba20_540x328.png?iopcmd=convert&Q=85&dst=png");
  }

  .eqWGtTb:nth-of-type(2) {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 50%;
    background-image: url("https://goods1.juancdn.com/jas/200103/0/9/5e0f0ba933b08902bd4c1c9a_540x328.png?iopcmd=convert&Q=85&dst=png");
  }
}

.idVxVOk {
  overflow: hidden;
  margin-top: 0rem;
  height: vw(208);
  width: vw(750);

  .qykHLk {
    margin: 0 -1px 0 0;
    font-size: 0;
    display: inline-block;
    float: left;
    height: vw(208);
    width: vw(750);

    .eqWGtTk {
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      float: left;
      width: 100%;
      height: 100%;
      background-image: url("https://s2.juancdn.com/jas/200103/0/9/5e0ee03233b08938f32938bf_1080x300.gif");
    }
  }
}

.qykHLr {
  margin-top: vw(20);
  font-size: 0;
  display: inline-block;
  float: left;
  width: vw(750);
  height: vw(96);

  .eqWGtTr {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
    background-image: url("https://goods7.juancdn.com/jas/180518/c/6/5afe2f0db6f8ea096f2bfb35_1080x138.png?iopcmd=convert&Q=85&dst=png");
  }
}

.ant-tabs {
  width: vw(750);
}

.eAzbYJ {
  width: vw(750);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;

  .gCgGoL {
    width: vw(370);
    height: vw(475);
    float: left;
    margin-right: vw(4);
    margin-top: vw(4);

    .bHohRa {
      height: 100%;
      background-color: #fff;
      width: 100%;

      .bYqRFU {
        width: 100%;
        height: vw(374);
        position: relative;

        .idxkID {
          width: 100%;
          display: block;
        }
      }

      .cEQZgN {
        padding-left: vw(16);
        padding-right: vw(16);
        color: #bbb;
        font-size: vw(24);
        line-height: vw(10);
        margin-top: vw(12);
        display: flex;
        align-items: center;
        position: relative;
        height: vw(44);

        .gVLSd {
          font-size: vw(38);
          color: #ff464e;
          margin-right: vw(8);
        }

        .dgjaoA {
          text-decoration: line-through;
        }
      }

      .dFUsnh {
        position: relative;
        font-size: vw(20);
        color: #3b3b3b;
        padding-left: vw(16);
        padding-right: vw(124);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: vw(24);
      }
    }
  }
}

.ant-tabs-nav-wrap {
  background: #fff;
  width: 100%;
}

.fix {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}

// 个人中心页样式
.main {
  background: #f4f4f8;
  margin: 0 auto;
  width: 100%;

  .userCenter {
    #head {
      height: vw(288);
      background: #ff464e;
      // background-image: url(../images/user_center_bg.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% auto;
      border-bottom: none;
      line-height: vw(88);
      overflow: hidden;
      z-index: 199;

      .userTop {
        text-align: center;
        position: relative;
        height: vw(88);

        .t-index {
          color: #fff;
          padding-right: vw(88);
          padding-left: vw(88);
          font-size: vw(36);
          left: 0;
          right: 0;
          width: 100%;
          text-align: center;
          position: absolute;
          top: 0;
        }
      }

      .user-login {
        line-height: vw(200);
        height: vw(200);
        position: relative;
        font-size: 0;
        text-align: center;

        a {
          padding: 0 vw(96) 0 vw(96);
          font-size: vw(40);
          display: inline-block;
          color: #fff;
        }

        .line {
          position: absolute;
          top: 50%;
          left: 50%;
          height: vw(40);
          width: vw(2);
          background-color: #fff;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .userBox {
    .user-item {
      font-size: vw(30);
      line-height: vw(96);
      height: vw(96);
      display: block;
      position: relative;
      padding: 0 vw(28) 0 vw(36);
      background-color: #fff;
      color: #333;
      overflow: hidden;

      .label {
        margin-right: vw(16);
        font-size: vw(28);
        color: #999;
        float: right;
      }
    }

    .userItem {
      padding: vw(24) 0 vw(30) 0;
      font-size: 0;
      background-color: #fff;

      a {
        font-size: vw(24);
        position: relative;
        display: inline-block;
        width: 25%;
        color: #666;
        text-align: center;
        vertical-align: top;

        .iconfont {
          font-size: vw(56);
          margin-bottom: vw(12);
          display: block;
          margin: 0 auto;
          font-family: iconfont;
        }
      }
    }

    .user-item:after {
      content: "";
      position: absolute;
      left: .59733rem;
      right: .59733rem;
      bottom: 0;
      height: vw(2);
      background-color: #ebebeb;
      transform: scaleY(.5);
    }

    .userItems {
      margin-top: vw(20);

      .user-item {
        font-size: vw(30);
        line-height: vw(96);
        height: vw(96);
        position: relative;
        background-color: #fff;
        color: #333;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 vw(28) 0 vw(36);
        display: block;

        .label {
          color: #999;
          float: right;
          font-size: vw(28);
          margin-right: vw(16);
        }
      }
    }
  }
}

// 注册页样式
.main1 {
  background: #f4f4f8;
  margin: 0 auto;
  width: 100%;

  .app1 {
    padding-bottom: vw(114.844);
    background: #fff !important;

    .head {
      height: vw(90);
      width: 100%;
      overflow: inherit;
      position: relative;
      z-index: 199;
      border-bottom: 1px solid #dedede;
      text-align: center;

      .fixtop {
        height: vw(88);
        background: #fff;
        z-index: 999;
        position: absolute;
        width: 100%;

        .t-find {
          padding: 10px;
          height: 50px;

          img {
            width: vw(50);
            height: vw(50);
          }
        }

      }
    }

    .wap-login {
      padding-right: vw(24);
      padding-left: vw(24);
      color: #999;

      .reg-notice {
        line-height: vw(30);
        margin-bottom: vw(40);
        text-align: center;
        margin-top: vw(56);
        font-size: vw(14);


      }

      .login-info {
        .info-input {
          li {
            // border-bottom: 1px solid #ebebeb;
            position: relative;
            margin-bottom: vw(10);

            .normalInput {
              height: vw(96);
              font-size: vw(28);
              border: 0;
              width: 100%;
              color: #999 !important;
            }

            .reg-close {
              height: vw(96);
              width: vw(50);
              text-align: right;
              right: 0;
              top: 0;
              position: absolute;


              img {
                margin-top: vw(23);
                width: 100%;
              }
            }
          }
        }

        .codeBtn {
          background: #ff464e;
          margin-top: vw(50);
          font-size: vw(36);
          line-height: vw(96);
          height: vw(96);
          display: block;
          color: #fff;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

// 登录页样式
.wap-login {
  padding-right: vw(24);
  padding-left: vw(24);
  background: #fff;

  .login-txt {
    font-size: vw(28);
    line-height: vw(88);
    height: vw(88);
    text-align: center;

    p {
      color: #ff464e;
      position: relative;
    }

    .active:after {
      content: "";
      height: vw(4);
      right: vw(60);
      left: vw(60);
      bottom: 0;
      position: absolute;
      background: #ff464e;
    }
  }

  .login-info {
    .info-input {
      li {
        margin-top: vw(10);
        margin-bottom: vw(10);
        border-bottom: 1px solid #ebebeb;
        position: relative;

        .normalInput {
          height: vw(96);
          font-size: vw(28);
          border: 0;
          width: 100%;
          color: #999 !important;
        }

        .reg-close {
          height: vw(96);
          width: vw(50);
          text-align: right;
          right: 0;
          top: 0;
          position: absolute;


          img {
            margin-top: vw(23);
            width: 100%;
          }
        }
      }
    }

    .codeBtn {
      background: #ff464e;
      margin-top: vw(50);
      font-size: vw(36);
      line-height: vw(96);
      height: vw(96);
      display: block;
      color: #fff;
      text-align: center;
      width: 100%;
    }

    .other-action {
      margin-bottom: vw(104);
      font-size: vw(28);
      line-height: vw(74);
      height: vw(74);
      color: #999;

      .freeLogin {
        position: relative;
        float: left;

        .before {
          border-color: #ff464e;
          background: #ff464e;
          top: vw(4);
          margin-right: vw(14);
          height: vw(28);
          width: vw(28);
          position: relative;
          display: inline-block;

          img {
            display: block;
            width: 100%;
          }
        }
      }

      .free-reg {
        font-size: vw(28);
        float: right;
        color: #999;
      }
    }
  }

  .wap-app {
    .third-txt {
      margin-bottom: vw(60);
      font-size: vw(24);
      font-weight: 400;
      text-align: center;
      color: #999;
    }

    .third-app {

      border-bottom: vw(1) solid #ebebeb;
      padding-bottom: vw(46);
      text-align: center;

      a {
        margin: 0 vw(40) 0 vw(40);
        height: vw(96);
        width: vw(96);
        display: inline-block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.user {
  display: block;
  color: #fff;
  width: 100%;
  margin-top: vw(46);
  margin-bottom: vw(50);
  overflow: hidden;

  .head_img {
    width: vw(108);
    height: vw(108);
    border-radius: 50%;
    float: left;
    margin-left: vw(36);
    border: 2px solid #fff;
    overflow: hidden;

    a {
      img {
        width: 100%;
        vertical-align: inherit;
        height: auto;
      }
    }
  }

  .message {
    width: auto;
    float: left;
    margin-left: vw(24);

    .tel {
      font-family: PingFangSC-Regular;
      font-size: vw(32);
      color: #fff;
      height: vw(44);
      line-height: vw(44);
      text-align: left;

      a {
        color: #fff;

      }
    }

    .message_detal {
      width: 100%;
      height: vw(40);
      margin-top: vw(22);
      padding-right: vw(5);

      span {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        font-size: vw(20);
        height: vw(32);
        line-height: vw(32);
        background: #f3414a;
        border: 1px solid #ff8282;
        border-radius: 2.13333rem;
        padding-left: vw(10);
        padding-right: vw(28);
        margin-right: vw(10);
        color: #fff;

        a {
          color: #fff;
        }

        .arrow {
          width: vw(10);
          height: 100%;
          top: 0;
          right: vw(10);
          //  background: url(../images/arrow.png) no-repeat 50%;
          position: absolute;
        }
      }
    }
  }
}

// 分类页
.search-box {
  margin: vw(23.438);
  border: 1px solid #bbb;
  border-radius: vw(5);
  background-color: #fff !important;
  padding: vw(6) 0;
  position: relative;
  height: auto;
  overflow: hidden;

  .box-search {
    line-height: vw(48);
    height: vw(48);
    margin-left: vw(12);
    width: 98%;
    padding: 0;
    vertical-align: middle;
    color: #999;
    float: left;

    input {
      margin-left: vw(72);
      font-size: vw(26);
      width: 90%;
      left: 0;
      background-color: transparent;
      position: absolute;
      color: #999;
      -webkit-tap-highlight-color: transparent;
      height: vw(48);
      line-height: vw(48);
    }
  }

  .search-submit {
    display: block;
    position: absolute;
    border: 0 none;
    background: none;
    cursor: pointer;
    left: vw(12);
    top: vw(8);

    img {
      height: vw(48);
    }
  }
}

.third-cate {
  padding-bottom: vw(98);
  margin-top: vw(20);
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
  transform: translate(0px, 0px) translateZ(0px);
  overflow: hidden;
  // display: none;

  .cate-second {
    width: vw(175);
    display: inline-block;
    text-align: center;
    height: vw(187);
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;

    a {

      img {
        width: 100%;
      }

      span {
        line-height: vw(40);
        color: #333;
      }
    }
  }
}

// 购物车页样式
.item_body {
  margin-bottom: vw(88 * 2 + 20);

  .good_list {
    .good_item {
      padding-left: vw(28);
      display: flex;
      align-items: center;
      -ms-flex-direction: row;
      flex-direction: row;
      overflow: hidden;
      border-bottom: vw(1) solid #ebebeb;

      .good_radio {
        width: vw(62);

        input {
          width: vw(30);
          height: vw(30);
          color: #9b9b9b;
        }
      }

      .good_info {
        padding-right: vw(28);
        padding-bottom: vw(32);
        padding-top: vw(32);

        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row;

        .pic {
          margin-right: vw(24);
          width: vw(180);
          height: vw(180);

          img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }

        .info_box {
          font-size: vw(28);
          height: vw(180);
          flex: 1;
          position: relative;

          .info_first {
            color: #333;
            line-height: 1;

            .title {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              color: #666;

              .svg {
                margin-top: vw(30);
                width: 2em;
                height: 2em;
              }

              .del {
                position: absolute;
                right: 0;
                color: #ff464e;
              }
            }

            .icondel {
              margin-top: vw(43);
              font-size: vw(50)
            }

          }

          .info_third {
            position: absolute;
            bottom: vw(14);
            width: 84%;

            .price {
              margin-top: vw(14);

              .vip-price {
                color: #FF464E;
                margin-right: vw(5);
                padding-right: vw(5);
                padding-left: vw(10);
                font-size: vw(24);
                margin-top: vw(20);
                float: left;
                position: relative;
                text-decoration: line-through;
                color: #999999;
              }

              .new-price {
                color: #FF464E;
                margin-right: vw(5);
                padding-right: vw(5);
                padding-left: vw(10);
                font-size: vw(24);
                margin-top: vw(20);
                float: left;
                position: relative;
                // text-decoration: line-through;
                // color: #999999;
              }
            }

            .num {
              font-size: vw(28);
              // margin: 0 auto;
              overflow: hidden;
              // float: right;
              margin-left: vw(180);
              margin-top: vw(30);

              .decrease {
                display: block;
                line-height: vw(46);
                height: vw(46);
                width: vw(46);
                color: #ccc;
                background-color: #f4f4f8;
                cursor: pointer;
                float: left;
                text-align: center;
              }

              input {
                font-size: vw(28);
                height: vw(46);
                width: vw(75);
                color: #333;
                float: left;
                text-align: center;
                border: none;
              }

              .increase {
                line-height: vw(46);
                height: vw(46);
                width: vw(46);
                background-color: #f4f4f8;
                color: #ff464e;
                cursor: pointer;
                float: left;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.bag-total {
  bottom: vw(98);
  position: fixed;
  // bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  border-top: 1px solid #ebebeb;
  background: #fff;

  .sel-all {
    font-size: vw(32);
    line-height: vw(97);
    height: vw(97);
    background-color: #fff;
    color: #333;
    text-align: center;
    width: 25%;
    float: left;

    .iconfont {
      margin-right: vw(14);
      vertical-align: middle;
      color: #9b9b9b;
      line-height: vw(97);
      text-align: center;
      width: vw(30);
      height: vw(30);

    }
  }

  .bag-money {
    font-size: vw(32);
    height: vw(97);
    line-height: vw(97);
    width: 45%;
    padding-right: .21333rem;
    box-sizing: border-box;
    float: left;
    text-align: right;

    .count {
      height: vw(97);

      span {
        display: inline-block;

        em {
          color: #ff464e;
        }
      }
    }
  }

  .go_pay {
    font-size: vw(36);
    line-height: vw(97);
    height: vw(97);
    width: 30%;
    display: block;
    float: right;
    background-color: #ff464e;
    color: #fff;
    text-align: center;
  }
}

// 列表页样式
.listbox {
  background: #f4f4f8;
  margin: 0 auto;
  width: 100%;
}

.goods {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  overflow: hidden;


  .goodslist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
    list-style: none;

    .listcon {
      // float: left;
      position: relative;
      background-color: #fff;
      width: 50%;
      margin-top: 1px;
      display: list-item;
      text-align: -webkit-match-parent;
      list-style: none;

      .imgbox {
        position: relative;
        background-size: vw(310);

        img {
          width: vw(370);
          height: 160px;
          display: inherit;
        }
      }

      .conbox {
        height: 24px;
        line-height: 24px;
        margin-top: 0;
        margin-right: vw(8);
        margin-left: vw(8);
        width: 92%;
        position: relative;
        bottom: 0;

        .price-new {

          margin-right: vw(4);
          font-size: vw(40);
          color: #ff464e;
          font-style: normal;
        }

        .del {
          font-size: vw(26);
          font-style: normal;
          vertical-align: vw(1);
          color: #bbb;
          text-decoration: line-through;
        }

        .types {
          position: absolute;
          color: #bbb;
          font-size: vw(30);
          text-align: right;
          right: 0;
          line-height: 1.1;
          bottom: 2px;
        }
      }

      .shoptitle {
        font-size: vw(32);
        width: 96%;
        height: 20px;
        line-height: 20px;
        color: #333;
        font-weight: 300;
        margin-left: vw(8);
        margin-top: 2px;
        margin-bottom: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: hsla(0, 0%, 100%, .8);
      }
    }
  }
}

.head {
  z-index: 199;
  height: 44px;
  width: 100%;
  overflow: inherit;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  background-color: #fff;

  .backhome {
    display: block;
    width: vw(24);
    height: 24.4px;
    padding: 7.5px 0px 0px 10.24px;
    float: left;
  }

  .titles {
    display: block;
    font-size: vw(44);
    height: 44px;
    width: 100%;
    z-index: -2;
    text-align: center;
    padding: 0 30.72px;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    font-weight: lighter;
    color: #333;
  }

  .sc {
    display: block;
    position: absolute;
    top: 8px;
    right: 54px;

  }

  .more {
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
  }
}

.navbox {
  height: 86.5px;
  background-color: #f4f4f8;
  // background-attachment: scroll;
  // position: fixed;
  // top: 0;

  .nav-t {
    height: 40px;
    width: 100%;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: vw(32);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 0.5px solid #ebebeb;

    table {
      height: 30px;
      width: 100%;
      display: table;
      border-collapse: separate;
      border-spacing: 1px;
      border-color: grey;
      text-align: center;

      tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;

        tr {
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;

          td {
            display: table-cell;
            vertical-align: inherit;
            width: 20%;
            color: #666;

          }

          .active {
            color: #ff464e;
          }
        }
      }
    }
  }

  .nav-b {
    width: 100%;

    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f4f4f8;

    nav {
      white-space: nowrap;
      padding: 8.535px vw(16.215);


      span {
        margin-right: vw(24);
        padding: 5px vw(20);
        display: inline-block;
        white-space: nowrap;
        border: 1px solid #dbdbdb;
        color: #333;
        text-align: center;
        font-size: vw(32);

      }

      .ac {
        border-color: #ff464e;
        color: #ff464e;
        margin-left: vw(18);
      }
    }
  }

}

.navboxfixd {
  position: fixed;
  top: 0;
  z-index: 200;
  width: vw(750);
}

// 详情页样式
.img-1 {
  width: vw(750);
  height: vw(800);
}

.img-2 {
  width: vw(750);
  height: vw(750);
}

section {
  display: block;

  .conboxs {
    background-color: #ffffff;
    padding: vw(114) vw(28) vw(20) vw(28);

    .conbox-t {
      display: flex;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      justify-content: space-between;

      .conbox-t-l {

        display: flex;

        .prices {
          font-size: vw(46);
          line-height: 23px;
          color: #ff464e;
          margin-right: vw(7);
          display: block;

          span {
            font-size: vw(30);
          }
        }

        .dels {
          font-size: vw(24);
          color: #bbbbbb;
          margin-right: vw(10);
          text-decoration: line-through;
          padding-top: 7px;
        }

        .bao {
          display: block;
          font-size: vw(18);
          height: 12px;
          margin-top: 7px;
          line-height: 1;
          padding-left: vw(2);
          padding-right: vw(2);
          border: vw(1) solid;
          margin-right: vw(5);
          margin-left: vw(5);
          background-color: rgb(255, 70, 78);
          border-color: rgb(255, 70, 78);
          color: rgb(255, 255, 255);
        }
      }

      .buys {
        font-size: vw(25);
        color: #999;
      }


    }

    .conbox-b {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 2px;
      margin-bottom: 6px;
      -webkit-box-pack: justify;
      height: 40px;

      .contitle {
        font-size: vw(33);
        color: #333333;
        -webkit-box-flex: 1;
        flex-grow: 1;
      }
    }
  }

}

.boximg {
  // height: vw(750);
  // width: vw(750);
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.gr {
  display: flex !important;
  height: vw(96);
  width: 100%;
  position: fixed !important;
  bottom: 0;
  background: #fff;

  a {
    width: vw(96);
    display: flex;
    background: #fff;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #6b6b6b;
    margin-left: vw(10);

    .anticon {
      font-size: vw(48);
    }

    div {
      font-size: vw(26);
    }
  }

  .bt-gw,
  .bt-gm {
    height: 100%;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
  }
}